 body {
     background:"http://pic.sc.chinaz.com/files/pic/pic9/201607/fpic5632.jpg";
 }
 
 h1 {
     height: 50px;
     color: aliceblue;
     text-align: center;
     margin-top: 20px;
 }
 
 p {
     color: aliceblue;
     font-size: 20px;
     text-align: center;
 }
 
 p {}